@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
} 

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
} 

.testimonials-swiper {
  padding-bottom: 50px !important;
}

.testimonials-swiper .swiper-pagination-bullet {
  background-color: #ea580c;
}

.testimonials-swiper .swiper-pagination-bullet-active {
  background-color: #ea580c;
} 

body.modal-open {
  overflow: hidden;
}

.modal-content {
  max-height: calc(100vh - 2rem);
  overflow-y: auto;
} 

/* Animação suave para o modal */
.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.duration-300 {
  transition-duration: 800ms;
}

.invisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
} 

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fadeIn 1.5s ease-in-out;
}

.animate-fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}

.animate-slide-up-delay-1 {
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.2s;
  opacity: 0;
}

.animate-slide-up-delay-2 {
  animation: slideUp 1s ease-out forwards;
  animation-delay: 0.4s;
  opacity: 0;
}